.nclass-error {
    display: block;
    text-align: center;
    color: red;
    font-size: 14px;
}

.no-result {
    margin: 10px;
}

#nclass {
    width: 910px;
}

#nclass:after {
    display: block;
    content: "";
    clear: both;
}

#nclass ul.nivel,
#nclass ul.label {
    display: inline-block;
    float: left;
    list-style: none;
    margin: 10px;
    padding: 0;
}

#nclass ul.nivel.inativo li {
    background: lightcoral;
}

#nclass ul.nivel li,
#nclass ul.label li {
    background: #eee;
    margin: 5px;
    padding: 10px;
}

#nclass ul.label li {
    font-weight: bold;
}

#nclass ul.nivel li.nclass-delete a {
    display: block;
    text-align: center;
}

#nclass ul.nivel li.itens ul {
    display: block;
    margin-bottom: 15px;
}

#nclass ul.nivel li.itens ul li {
    padding: 0;
}

#nclass ul.nivel li.itens > a {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

#legenda {
    display: block;
    width: 200px;
    float: right;
    margin: 10px;
}

#legenda table {
    border-collapse: collapse;
    border: 1px solid black;
}

#legenda tr,
#legenda td {
    border: 1px solid black;
}

#legenda td.ativo,
#legenda td.inativo {
    width: 50px;
}

#legenda .ativo {
    background: #eee;
}

#legenda .inativo {
    background: lightcoral;
}